ply==3.11
six==1.17.0
treelib==1.7.0
asgiref>=3.11.0
typing-extensions==4.12.2
more-itertools>=8.10.0
apscheduler<=3.11.0
pydantic_mini==1.1.6
# graph
graphviz==0.20.3
# [optional]
redis==5.2.1
cryptography>=41.0.0
hdfs>=2.7.0
grpcio>=1.60.0
grpcio-tools<=1.70.0   # >=1.60.0
cloudpickle>=3.0.0
psutil==7.1.0
psycopg==3.2.5
psycopg-binary==3.2.5
psycopg-pool==3.2.6
